name: IronWeb Snapshot

on:
  push:
    branches:
      - main

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  snapshot:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.WORKFLOW_PAT }}
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
          registry-url: "https://registry.npmjs.org"
      # Need newer npm to use Trusted Publishing
      - name: Use newer npm version
        run: |
          sudo npm install -g npm@11.6.1
          # Necessary to overwrite the previous global version
          echo "/usr/local/bin" >> $GITHUB_PATH
      - name: build and unit test
        run: yarn && yarn test
      - name: Release snapshot to @ironcorelabs/ironweb-internal and @ironcorelabs/ironweb-frame
        env:
          BRANCH: "main"
        run: node ./.github/scripts/snapshot.js
